<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" />
</head>
  <body>
    <div class="container-fluid">
      <hr />
      {{{content}}}
    </div>
 </body>
</html>