<h1>Users who have registered</h1>
<table class="table">
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
  </tr>
  {{#each users}}
    <tr>
      <td>{{firstName}}</td>
      <td>{{lastName}}</td>
      <td>{{email}}</td>
    </tr>
  {{/each}}
</table>