.app__container {
  max-width: 696px;
  margin: auto;
  box-shadow: 0 8px 37px rgba(0, 0, 0, 0.5);
}

.app__section {
  background-color: #FFFFFF;
  min-height: 497px;
}

.app__centerSection {
  margin: auto;
}

.app__logo {
  margin: 13px;
}

.app__book {
  margin-top: -13px;
  margin-bottom: -13px;
}
