.form__label {
  color: #868686;
  font-size: 10px;
}

.form__textInput {
  border-radius: 0px;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #CDCACA;
  outline: none;
}

.form__textInput:focus {
  border-color: #E52940;
}

.form__submit {
  cursor: pointer;
  border-radius: 2px;
  height: 24px;
  font-size: 10px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #CFC8C9;
  border: none;
}

.form__submit:hover {
  background-color: #E52940;
}

.form__submitContainer {
  text-align: center;
}

.form__h1 {
  color: #4A4B4B;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 9px;
}

.form__h2 {
  font-size: 10px;
  font-weight: bold;
  color: #868686;
  margin-bottom: 9px;
}

.form__errorLabel {
  color: #E52940;
  padding-bottom: 12px;
}