.success__h1 {
  color: #4A4B4B;
  font-size: 20px;
}

.success__subline {
  color: #4A4B4B;
  font-size: 18px;
}

.success__appStore {
  text-align: center;
  margin-top: 40px;
}

.succes__tick {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}

.success__great {
  color: #39393A;
  font-size: 14px;
}