/* Based on https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers */
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
}
