html, body {
  height: 100%;
}

body {
  background: #e3374a;
  background: -moz-linear-gradient(45deg, #e3374a 0%, #f5515f 98%);
  background: -webkit-linear-gradient(45deg, #e3374a 0%,#f5515f 98%);
  background: linear-gradient(45deg, #e3374a 0%,#f5515f 98%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3374a', endColorstr='#f5515f',GradientType=1 );
  font-family: 'PT Sans', sans-serif;
}

